@model SaintThomas.Kiosk.Models.Image

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            <img height="300" src="@Url.Content(string.Format("~/Image/Download/{0}", Model.PrimaryKey))" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            <div id="video"></div>
            @Html.DisplayFor(model => model.Video)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrimaryKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script type="text/javascript">
    $(document).ready(function () {
        $(".oembed").oembed(null,
            {
                embedMethod: "append",
                maxWidth: 640,
                maxHeight: 480,
                vimeo: { maxWidth: 200, maxHeight: 200 }
            });
        $("#video").oembed("@Model.Video");
    });
</script>